<form #addressForm="ngForm" class="editForm" novalidate>
  <div class="form-horizontal">
      <div class="tab-pane fade in active">
          <h4 class="head text-center">{{title}}</h4>
          <br/>
          <div class='row worker-select'>
              <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                  <div class="form-group" style="border: 1px solid rgb(159, 159, 197);">

                          <div class="col-xs-7">
                                  <label class="float-md-left" for="dashboardTrending">a. Out of Specification(Alarm) Incident:</label> </div>
                                  <div class="col-xs-3">  <span class="float-md-right"><input type="radio" value="yes" name="alarm" [(ngModel)]="address.alarm"> Yes
                                         &nbsp; &nbsp; <input type="radio" value="no" name="alarm" [(ngModel)]="address.alarm"> No</span>
                              </div>
                              
                              <div class="row worker-select"><br/><br/></div>
                              <div class="col-xs-7">
                                    <label class="float-md-left" for="dashboardTrending">b. Missing Trending Data:
                                        </label>  </div>
                                        <div class="col-xs-3"> 
                                        <span class="float-md-right"><input type="radio" value="yes" name="mtd" [(ngModel)]="address.mtd"> Yes
                                            &nbsp; &nbsp;<input type="radio" value="no" name="mtd" [(ngModel)]="address.mtd"> No</span>
                                </div>  <div class="row worker-select"><br/><br/></div>
                                <div class="col-xs-7">
                                        <label class="float-md-left" for="dashboardTrending">c. Safety Alarm:
                                            </label>  </div>
                                            <div class="col-xs-3"> 
                                            <span class="float-md-right"><input type="radio" value="yes" name="safety" [(ngModel)]="address.safety"> Yes
                                                &nbsp; &nbsp;<input type="radio" value="no" name="safety" [(ngModel)]="address.safety"> No</span>
                                    </div>  <div class="row worker-select"><br/><br/></div>
                                    <div class="col-xs-7">
                                            <label class="float-md-left" for="dashboardTrending">d. Others</label>  </div>
                                            <div class="col-xs-3"> 
                                                <span class="float-md-right"><input type="radio" value="yes" name="oth" [(ngModel)]="address.oth"> Yes
                                                    &nbsp; &nbsp;<input type="radio" value="no" name="oth" [(ngModel)]="address.oth"> No</span>
                                        </div> <div class="row worker-select"><br/></div>
                  </div>
                  <span style="font-size:15px; color:rgb(151, 39, 39);">(users will navigated to fill for only the ones indicated as Yes above)</span>
              </div>
          </div>
          <div class="form-group text-center space-20">
              <button class="btn btn-outline-rounded btn-default" (click)="goToPrevious(addressForm)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
              <button class="btn btn-outline-rounded btn-info" [disabled]="!addressForm.valid" (click)="goToNext(addressForm)"> Save & Continue <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
          </div>
      </div>
  </div>
</form>
<!-- <form #addressForm="ngForm" class="editForm" novalidate>
    <div class="tab-pane fade in active">
        <h4 class="head text-center">{{title}}</h4>
        <br/>
        <div class='row'>
            <div class='col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10'>
                <div class="form-group">
                    <label class="control-label" for="street">Street Address</label>  
                    <input class="form-control input-md" #street="ngModel" required id="street" name="street" type="text" placeholder="Street Address" [(ngModel)]="address.street">
                    <div class="alert alert-danger" [hidden]="street.valid">Street Address is required</div>
                </div>   
                <div class="row">
                    <div class='col-xs-12 col-sm-4'>
                        <div class="form-group">
                            <label class="control-label" for="city">City</label>  
                            <input class="form-control input-md" #city="ngModel" required id="city" name="city" type="text" placeholder="City" [(ngModel)]="address.city">
                            <div class="alert alert-danger" [hidden]="city.valid">City is required</div>
                        </div>
                    </div>
                    <div class='col-xs-4 col-sm-offset-1 col-sm-3'>
                        <div class="form-group">
                            <label class="control-label" for="state">State</label>  
                            <input class="form-control input-md" #state="ngModel" required id="state" name="state" type="text" placeholder="State" [(ngModel)]="address.state">
                            <div class="alert alert-danger" [hidden]="state.valid">State is required</div>
                        </div>
                    </div>
                    <div class='col-xs-offset-1 col-xs-7 col-sm-offset-1 col-sm-3'>
                        <div class="form-group">
                            <label class="control-label" for="zip">Zip</label>  
                            <input class="form-control input-md" #zip="ngModel" required id="zip" name="zip" type="text" placeholder="Zip" [(ngModel)]="address.zip">
                            <div class="alert alert-danger" [hidden]="zip.valid">Zip is required</div>
                        </div>  
                    </div> 
                </div>
            </div>

            <div class="form-group text-center">
                <button class="btn btn-outline-rounded btn-default" (click)="goToPrevious(addressForm)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
                <button class="btn btn-outline-rounded btn-info" [disabled]="!addressForm.valid" (click)="goToNext(addressForm)">  Save & Continue <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
        </div>
    
    </div>
</form> -->