<div class="container-fluid" id="header">
		<div class="container">
			<div class="row">
				<div class="col-md-2 header-logo">
					<img src="assets/images/NIH_Master_Logo_Mark_2Color.png">
				</div>
				<div class="col-md-8">
		            <a href="/">
						<h1 class="header-title">FCIS Facility Monitoring of Critical Parameters in APF Daily Report</h1>
                    </a>
					<h2 class="header-subtitle">Division of Technical Resources</h2>
				</div>
				<!-- <div class="col-md-2" id="weatherbox">
					<h4>Current Weather:</h4>
					<img src="/static/icons/weather/clear.gif">
					
				</div> -->
			</div>
		</div>
	</div>

<div class="container-fluid" id="formula-container">
		<div class="container">
			<div class="col-md-10 col-md-offset-1 formula">
					<img src="assets/images/DTR_Banner_logo_red.png">
			</div>
		</div>
    </div>