<form #secthreealarmForm="ngForm" [formGroup]="alarm" class="editForm" novalidate>
    <div class="tab-pane fade in active">
        <h4 class="head text-center">{{title}}</h4>
        <br/>
        
        <div class='row'>
                
            <div class='col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8'>
                    <div class="row worker-select"><h4>a. Out of Specification (Alarm) Incident:</h4></div>
                    <div formArrayName="sec">
                        <div class="sec-container" *ngFor="let section of getSec(alarm); let i = index"><br />
                    <div class="row worker-select">
                            <!-- <label class="control-label" for="reportedBy">a. Reported By</label> -->
                            <div class="col-xs-3">
                                    <!-- {{text}} --> <label class="control-label" for="reportedBy">Critical Parameter:</label>
                            </div>
                        
                          <div class="col-xs-3">
                              <app-ddown-new (reporter)="onChange($event)" [fields]="reporters">   

                              </app-ddown-new>
                          </div>

                          <div class="col-xs-3">
                                <!-- {{text}} --> <label class="control-label" for="reportedBy">Incident Input By:</label>
                        </div>
                    
                      <div class="col-xs-3">
                          <app-ddown-new (reporter)="onChange($event)" [fields]="reporters">   

                          </app-ddown-new>
                      </div>
                        </div>

<br/>

<div class="row worker-select">
        <div class="col-xs-3"> <label class="control-label" for="reportedBy">Device:</label>        </div>
      <div class="col-xs-3">
          <app-ddown-new (reporter)="onChange($event)" [fields]="reporters">             </app-ddown-new>
      </div>

      <div class="col-xs-3"> <label class="control-label" for="reportedBy">Findings:</label>    </div>
  <div class="col-xs-3">
      <app-ddown-new (reporter)="onChange($event)" [fields]="reporters">    </app-ddown-new>
  </div> 
</div>
    <br/>
    <div class="row worker-select">
            <div class="col-xs-3"><label class="control-label" for="reportedBy">Start Time:</label></div>
            <div class="col-xs-4"><p-calendar  name="strtTime"   [showTime]="true" hourFormat="24" [showIcon]="true" icon="glyphicon glyphicon-time"></p-calendar></div>
            <div class="col-xs-2"><label class="control-label" for="reportedBy">Clear Time:</label></div>
            <div class="col-xs-3"><p-calendar  [showTime]="true" hourFormat="24"  name="clearTime" [showIcon]="true" icon="glyphicon glyphicon-time"></p-calendar></div>
        
               
   </div>   
   <br/>
 <div class="row worker-select">
                <div class="col-xs-3"><label class="control-label" for="reportedBy">Location:</label></div>
                <input type="text" class="form-control" style="width:50%" placeholder=" XYZ (extracted from database for Device selecte" />
</div><br/>
<div class="row worker-select">
        <div class="col-xs-3"><label class="control-label" for="reportedBy">Responsible:</label>        </div>
      <div class="col-xs-3">
          <app-ddown-new (reporter)="onChange($event)" [fields]="reporters">   
          </app-ddown-new>
      </div>
      <div class="col-xs-3"><label class="control-label" for="reportedBy">Contacted Group:</label></div>
  <div class="col-xs-3">
      <app-ddown-new (reporter)="onChange($event)" [fields]="reporters">   
      </app-ddown-new>
  </div>
</div><br/>    
<div class="row worker-select">
               <div class="col-xs-3"><label class="control-label" for="reportedBy">If Other:</label></div>
               <input type="text" class="form-control" style="width:50%" placeholder="state the reason" />
</div><br/>
<div class="row worker-select">
        <span><textarea style="width:90%; margin: 5px 0 0 20px;" ng-model="myTextarea"></textarea></span>
</div><br/>
<div class="row worker-select">
        <div class="col-xs-3"><label class="control-label" for="reportedBy">Recurring:</label></div>
        <input type="radio" value="yes" name="recurring"> Yes
                    &nbsp; &nbsp;  <input type="radio" value="no" name="recurring" > No 
                    <label class="control-label" for="ifOther"> If Yes:</label><!-- <input type="text" class="form-control" style="width: 25%; margin-left: 50%; margin-top: -29px;" placeholder=" XYZ (extracted from database for Device selecte" />-->
                    <br />
</div><br/>
<div class="row worker-select">
        <div class="col-xs-3"> <label class="control-label" for="reportedBy">SD#: </label>        </div>
      <div class="col-xs-3">
          <app-ddown-new (reporter)="onChange($event)" [fields]="reporters"></app-ddown-new>
      </div>

      <div class="col-xs-3"> <label class="control-label" for="reportedBy">CAPA#:</label>    </div>
  <div class="col-xs-3">
      <app-ddown-new (reporter)="onChange($event)" [fields]="reporters">    </app-ddown-new>
  </div> 
</div><br/>

<div class="row worker-select">
        <div class="col-xs-3"> <label class="control-label" for="reportedBy">CRF#: </label>        </div>
      <div class="col-xs-3">
          <app-ddown-new (reporter)="onChange($event)" [fields]="reporters"></app-ddown-new>
      </div>

      <div class="col-xs-3"> <label class="control-label" for="reportedBy">RCA#:</label>    </div>
  <div class="col-xs-3">
      <app-ddown-new (reporter)="onChange($event)" [fields]="reporters">    </app-ddown-new>
  </div> 
</div><br/>

<div class="row worker-select">
        <div class="col-xs-3"> <label class="control-label" for="reportedBy">Logbook Notes: </label></div>
        <input type="text" class="form-control" style="width:50%" placeholder="Logbook Notes" />
</div><br/>
<div class="row worker-select">
        <div class="col-xs-3"><label class="control-label" for="reportedBy">Immediate Action:</label></div>
        <input type="radio" value="yes" name="recurring"> Yes
                    &nbsp; &nbsp;  <input type="radio" value="no" name="recurring" > No  <br /> 
</div><br/>
<div class="row worker-select">
        <div class="col-xs-3"><label class="control-label" for="reportedBy">If Yes Explain:</label></div>
        <input type="text" class="form-control" style="width:70%" placeholder="state the reason" />
</div><br/>
<button (click)="addSec()" class="point">Add Incident </button>
</div>
</div>
			<!-- <span *ngIf="getSections(alarm).length > 1" (click)="removeSection(i)">Remove Incident</span> -->
                    
               <div class="form-group text-center space-20">
                <button class="btn btn-outline-rounded btn-default" (click)="goToPrevious(secthreealarmForm)"> <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
                <button class="btn btn-outline-rounded btn-info" [disabled]="!secthreealarmForm.valid" (click)="goToNext(secthreealarmForm)">  Save & Continue <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
            </div>
            </div>
        </div>
    </div>
</form>